ScopeFirmware/Debug/**/*
ScopeFirmware/Debug/*
ScopeFirmware/.metadata/**/*
ScopeFirmware/.metadata/*
ScopeFirmware/.settings/*
driverlib/Debug/**/*
driverlib/Debug/*
driverlib/.settings/*
.metadata/*
.metadata/**/*
~$*.docx
*.tmp