<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  
  <SerialPort>
    <Port>COM3</Port>
    <Baudrate>115200</Baudrate>
    <DataBits>8</DataBits>
    <Parity>NoParity</Parity>
    <StopBits>1</StopBits>
  </SerialPort>
  
  <Interface>
    <WaveformFramesPerSec>25</WaveformFramesPerSec>
    <XYFramesPerSec>10</XYFramesPerSec>
    <MeasurementsPerSec>10</MeasurementsPerSec>
    <Gridlines>
      <Horizontal>8</Horizontal>
      <Vertical>14</Vertical>
    </Gridlines>
  </Interface>
  
  <HardwareInfo>
    <NumAnalogChannels>2</NumAnalogChannels>
    <GainValues>1,2,4,5,8,10,16,32</GainValues>
    <TriggerLevels></TriggerLevels>
    <TriggerSources>CH1,CH2,EXT</TriggerSources>
    <MaxSampleRate>2000000</MaxSampleRate>
  </HardwareInfo>
  
</Configuration>