@define-color ch1TraceColor darkgreen;
@define-color ch2TraceColor red;
@define-color chMathTraceColor blue;

.ch1Labels {
    color: @ch1TraceColor;
}

.ch2Labels {
    color: @ch2TraceColor;
}

.chMathLabels {
    color: @chMathTraceColor;
}

.runPauseToggleButton:active {
    background-color: green;
    color: green;
}

.runPauseToggleButton {
    background-color: red;
    color: red;
}

GtkCheckButton.ch1Labels GtkLabel {
    color: @ch1TraceColor;
}

GtkCheckButton.ch2Labels GtkLabel {
    color: @ch2TraceColor;
}

GtkCheckButton.chMathLabels GtkLabel {
    color: @chMathTraceColor;
}